@charset "UTF-8";

body {
    font-family: Poppins;
    background: url(papel-de-parede-floral-em-tom-de-terra.jpg) no-repeat;
    background-size: cover;
    color: white;
}

img {
    width: 400px;
    border-radius: 50%;
    margin: 50px;
    box-shadow: 100px;
}

h1 > a {
    color: rosybrown;
    margin: 100px;
    text-decoration: none;
    background-color: white;
    padding: 2%;
    border-radius: 15px;
}

p {
    margin: 100px;
    background-color: rosybrown;
    padding: 2%;
    border-radius: 15px;
}